body {
  background-color: #d9d9d9;
  font-family: sans-serif;
  font-size: 22px;
}
h1 {
  color: #666;
}
.question {
  font-size: 10rem;
  border: 1px solid #eee;
  width: 25rem;
  height: 11rem;
  margin: 1rem;
}
.answer-input {
  font-size: 8rem;
  width: 25rem;
  margin: 1rem;
}
#timer { 
  font-family: sans-serif; 
  font-size: 3em; 
  color: #666 ; 
  padding: 1em;
  margin: 0;
  float: right;
}
.game-area {
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 5px;
  min-height: 16em;
}
.game-start-button {
  padding: 1rem;
}
.correct-answer-feedback {
  background-color: green;
}
.incorrect-answer-feedback {
  background-color: red;
}
.game-feedback>div {
  float: left;
  width: 0.5em;
  height: 0.5em;
  border-radius: 0.25em;
}
.game-feedback>span {
  float: left;
}
.learn { 
  font-size: 3rem;
}